<html>
  <head>
    <title>Sample</title>
    <!-- https://gist.github.com/tfausak/2222823 for more iphone tags -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Sample">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">

    <%= stylesheet_link_tag 'frontend/application' %>
    <%= javascript_include_tag 'frontend/application' %>
  </head>
  <body>
  </body>
</html>
